<div class="formline">

  <%= form_for [@post, @reply], html: { multipart: true } do |f| %>
  <div class="field">
    <%= f.hidden_field :post_id, value: params[:id] || nil  %>
    <%= f.hidden_field :user_id, value: current_user.id  %>
  </div>
  <div class="formline">
    <div class="form-group">
      <%= f.label :your_reply %>
      <%= f.text_area :content, class: "form-control", rows: 1, required: true, autofocus: true,
      placeholder: "...", value: @reply.content || "" %>
    </div>
  </div>
  <p>
    <%= f.submit 'Submit', class: "btn btn-md btn-success" %>
  </p>

  <% end %>
</div>
